.questionInputContainer {
    height: 120px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #1A1A1A;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 25px 22px;

}

.questionInputTextArea {
    width:95%;
    height: 38px;
    line-height: 38px;
    background-color: #1A1A1A;
    border: 1px solid #DBD8C7;
    border-radius: 10px;
    overflow: hidden;
    input {
        color: #DBD8C7;
        background: #1A1A1A;
       
    }

    input::placeholder {
        color: #DBD8C7;
      }
}

.questionInputSendButtonContainer {
    /* position: absolute;
    right: 24px;
    bottom: 20px; */
    margin-left: 15px;
    cursor: pointer;
}

.questionInputSendButton {
    width: 38px;
    height: 38px;
}

.questionInputSendButtonDisabled {
    /* opacity: 0.4; */
    width: 38px;
    height: 38px;
    background: none;
    color: #424242;
}

.questionInputBottomBorder {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0%;
    bottom: 0%;
    background: radial-gradient(106.04% 106.06% at 100.1% 90.19%,#0F6CBD 33.63%,#8DDDD8 100%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.questionInputOptionsButton {
    cursor: pointer;
    width: 27px;
    height: 30px;
}

.poweredBy{
    color: #DBD8C7;
    font-family: 'AktiveGrotesk-Light';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    span {
        font-family: 'AktiveGrotesk-Bold';
        font-weight: 700;
    }
    margin-top: 8px;
    margin-left: 5px;
}
